@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--black);
  /* Colors */
  --black: #161616;
  --main-bg: rgb(251, 254, 255);
  --red: #FF6666;
  --grey: #6B6B6B;
  --blue: #6675ff;
  --green: #3ada50;
}

html {
  scroll-behavior: smooth;
}

body {
  /* border: 1px solid black; */
  min-height: 99.8vh;
  background-color: var(--main-bg);
}

.container {
  /* border: 1px solid violet; */
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Pattern Top */
.shape1-p1 {
  width: 75vw;
  position: fixed;
  top: -4em;
  right: -3em;
  z-index: -1;
}

.shape2-p1 {
  width: 85vw;
  position: fixed;
  top: -0.50em;
  right: -2em;
  z-index: -1;
}

/* Pattern Middle */
.shape1-mid {
  width: 11vw;
  position: fixed;
  left: 0.5em;
  top: 40vh;
  z-index: -1;
}

.shape2-mid {
  width: 16vw;
  position: fixed;
  right: 1em;
  top: 46vh;
  z-index: -1;
}

/* Pattern Bottom */
.shape1-p2 {
  width: 75vw;
  position: fixed;
  bottom: -7em;
  left: -7em;
  z-index: -1;
}

.shape2-p2 {
  width: 80vw;
  position: fixed;
  bottom: -2em;
  left: -2em;
  z-index: -1;
}
@media (min-width: 375px) {
  /* Pattern Top */
  .shape1-p1 {
    /* width: 70vw; */
    width: 17em;
  }
  .shape2-p1 {
    width: 20em;
  }
  /* Pattern Middle */
  .shape1-mid {
    /* width: 8vw; */
    width: 2em;
    top: 25vh;
  }
  .shape2-mid {
    /* width: 10vw; */
    width: 4em;
    right: 1em;
  }
  /* Pattern Bottom */
  .shape1-p2 {
    /* width: 70vw; */
    width: 17em;
  }
  .shape2-p2 {
    /* width: 80vw; */
    width: 20em;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  animation-name: nav-scroll-up;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes nav-scroll-up {
  0% {
    /* background-color: var(--black); */
    padding: 1em 2em;
    background-color: white;
    /* background-color: var(--red); */
    box-shadow: 0 1.5px 4px 0 rgba(189, 189, 189, 0.685);
  }
  100% {
    padding: 0 2em;
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
  }
}
#navbar a {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  color: var(--black);
}
#navbar.scroll {
  /* border: 2px solid blue; */
  /* margin-top: 1em; */
  /* background-color: var(--black); */
  animation-name: nav-scroll-down;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes nav-scroll-down {
  0% {
    padding: 0 2em;
    background-color: transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    padding: 1em 2em;
    /* background-color: var(--black); */
    background-color: white;
    /* background-color: var(--red); */
    box-shadow: 0 1.5px 4px 0 rgba(189, 189, 189, 0.685);
  }
}
/* #navbar.scroll a {
  color: white;
} */

.nav-desktop {
  display: none;
}

.nav-mobile {
  /* border: 1px solid slateblue; */
  /* border-bottom-left-radius: 25px; */
  /* border-bottom-right-radius: 25px; */
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* top: 1em; */
  width: 100%;
  min-height: 20em;
  background-color: rgb(255, 255, 255);
  /* background-color: var(--red); */
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.123);
  z-index: 1;
  animation-name: slide-right;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes slide-right {
  0% {
    right: 0;
  }
  100% {
    right: -120vw;
  }
}

.nav-mobile a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--black);
  /* font-weight: bold; */
}

.toggle {
  border: none;
  width: 3em;
  height: 3em;
  background-image: url(./images/icons/menu-mobile-btn.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 2em;
  background-position: center;
}

/* Open Navigation Bar - Mobile */
/* #navbar.open {
  animation-name: erase-shadow;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes erase-shadow {
  0% {
    box-shadow: 0 1.5px 4px 0 rgba(189, 189, 189, 0.685);
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
} */

.nav-mobile.open {
  top: 0;
  animation-name: slide-left;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes slide-left {
  0% {
    /* top: -12em; */
    right: -120vw;
  }
  100% {
    /* top: 0; */
    right: 0;
  }
}

.toggle.open {
  background-image: url(./images/icons/icon-close.png);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  /* #navbar {
    border-radius: 50px;
    width: 95%;
    margin-top: 1em;
  } */

  .nav-mobile {
    display: none;
  }

  .toggle {
    display: none;
  }

  .nav-desktop {
    display: block;
  }
  .nav-desktop a {
    font-style: normal !important;
    font-size: 1em !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
    text-decoration: none !important;
    margin: 0 0.5em;
  }
}

#about-me,
#projects,
#contact-section {
  /* border: 1px solid blue; */
  border-radius: 10px;
  /* margin: 4em 1em 4em 1.5em; */
  margin: 0 1em;
  padding: 1em 0;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.479);
  /* backdrop-filter: blur(4px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.123);
}
@media (min-width: 768px) {
  #about-me,
  #projects,
  #contact-section {
    width: 720px;
  }
}
@media (min-width: 1024px) {
  #about-me,
  #projects,
  #contact-section {
    width: 950px;
  }
}

#welcome-section {
  /* border-top: 10px solid var(--red); */
  width: 100%;
  /* height: 625px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 6em 0; */
  /* margin-top: 6em; */
  /* background-color: var(--red); */
}
@media (min-width: 1024px) {
  #welcome-section {
    flex-direction: row;
    /* padding: 0 3em; */
    min-height: auto;
  }
}

.profile {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.profile p {
  text-align: center;
}

.photo-profile {
  /* border-radius: 50%; */
  border: 1px solid black;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 20em;
  height: 20em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: url("./images/photo-profile/self.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30em;
}

#welcome-section h1 {
  /* font-weight: lighter; */
  font-weight: normal;
  color: var(--black);
  /* color: var(--grey); */
  text-align: center;
  font-size: 1.3em;
}

/* #welcome-section p {
  font-weight: normal;
  font-size: 1.3em;
  color: var(--black);
} */

.social {
  /* border: 1px solid blueviolet; */
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.github, .linkedin, .fcc, .fm {
  /* border: 1px solid black; */
  border-radius: 50px;
  width: 3.5em;
  height: 3.5em;
  padding: 0.25em;
  margin: 0 0.4em;
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.123);
}

#about-me {
  border-top: 10px solid var(--red);
  margin-top: 4em;
}

.about {
  padding: 2em;
}

#projects {
  border-top: 10px solid var(--blue);
  margin-top: 4em;
}
#projects p {
  margin-bottom: 1em;
}

.project-tile {
  /* border: 1px solid black; */
  border-top: 1px solid rgba(179, 179, 179, 0.671);
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-tile h2 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 1em;
}
.project-tile h3 {
  margin-bottom: 1em;
}

.description {
  /* border: 1px solid black; */
  text-align: center;
  margin-top: 1em;
}
.description p, .description h3 {
  font-size: 0.9em;
}
.description h3 {
  font-weight: bold;
}
.description p a {
  font-weight: bold;
  color: var(--red);
}

.project-mobile {
  border-radius: 20px;
  /* padding: 0.5em; */
  display: block;
  max-width: 15em;
  height: auto;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.123);
}

.project-desktop {
  display: none;
}
@media (min-width: 768px) {
  .project-mobile {
    display: none;
  }
  .project-desktop {
    border-radius: 20px;
    display: block;
    max-width: 100%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.123);
  }
}

.actions {
  /* border: 1px solid black; */
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .actions {
    flex-direction: row;
    justify-content: center;
  }
  .actions a {
    margin: 0 1em;
  }
}

span {
  font-size: 0.7em;
  text-align: center;
}

span, b {
  color: red;
}

.btn {
  /* border: 2px solid transparent; */
  border-radius: 5px;
  min-width: 10em;
  text-align: center;
  margin: 0.5em 0;
  padding: 0.2em;
  box-shadow: 0 0 4px 1px #6B6B6B;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
}

.blue-color {
  color: var(--blue);
}
.blue-color:hover {
  /* border: 2px solid var(--blue); */
  background-color: var(--blue);
  color: white;
}

.green-color {
  color: var(--green);
}
.green-color:hover {
  /* border: 2px solid var(--green); */
  background-color: var(--green);
  color: white;
}

#contact-section {
  border-top: 10px solid var(--green);
  margin: 4em 0;
}
#contact-section h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5em;
}
#contact-section a {
  background-color: white;
}

footer {
  /* border: 1px solid black; */
  margin: 1em 0;
}
footer p {
  text-align: center;
  font-weight: bold;
}